.sky {
    background: #ccdbff; /* Old browsers */
    background: -moz-linear-gradient(left, #ccdbff 0%, #ff8912 3%, #ffb46b 9%, #ffece0 51%, #ffb969 88%, #ff8d0b 96%, #ccdbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ccdbff), color-stop(3%,#ff8912), color-stop(9%,#ffb46b), color-stop(51%,#ffece0), color-stop(88%,#ffb969), color-stop(96%,#ff8d0b), color-stop(100%,#ccdbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ccdbff 0%,#ff8912 3%,#ffb46b 9%,#ffece0 51%,#ffb969 88%,#ff8d0b 96%,#ccdbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ccdbff 0%,#ff8912 3%,#ffb46b 9%,#ffece0 51%,#ffb969 88%,#ff8d0b 96%,#ccdbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ccdbff 0%,#ff8912 3%,#ffb46b 9%,#ffece0 51%,#ffb969 88%,#ff8d0b 96%,#ccdbff 100%); /* IE10+ */
    background: linear-gradient(left, #ccdbff 0%,#ff8912 3%,#ffb46b 9%,#ffece0 51%,#ffb969 88%,#ff8d0b 96%,#ccdbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdbff', endColorstr='#ccdbff',GradientType=1 ); /* IE6-9 */
    
    height: 20px;
}

.box {
    width: 1.9px;
    height: 20px;
    display: block;
    float: left;
}